.main-container {
  height: 550px;
}

.main-header {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  line-height: 38px;
  margin-top: 50px;
  width: 100%;
}
.main-header h2 {
  font-size: 32px;
  padding: 5px;
  margin-left: 10%;
  text-shadow: 1px 1px #ffffff;
}
.main-header label {
  font-weight: 100;
  font-size: 18px;
  color: #d492e7;
  margin-top: 20px;
  margin-left: 30%;
  border-bottom: 1px solid #ffffff;
}
.main-content {
  margin-top: 60px;
  text-align: center;
  width: 100%;
  font-size: 17px;
}
.main-content button {
  font-size: 17px;
  width: 100px;
}
.main-background-image-right {
  position: absolute;
  top: 231px;
  left: 117px;
}
.main-background-image-right img {
  width: 200px;
  height: 200px;
}
.main-background-image-left {
  position: absolute;
  top: 231px;
  left: 70%;
}
.main-background-image-left img {
  width: 200px;
  height: 200px;
}
