.form-field-container {
  display: block;
}
.form-field-container div {
  margin: 0 5px;
}
@media screen and (min-width: 800px) {
  .form-field-container {
    display: flex;
    width: 100%;
    flex-grow: 2;
  }
  .form-field {
    width: 33%;
  }
}
